body {
  background-color: white;
  width: 74%;
  margin: 0px auto;
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.11em;
  color: #443932;
}
/* all font styling goes here*/

header {
  position: fixed;
  background-color: #443932;
  border: 1px solid #443932;
  width: 74%;
  height: 80px;
  vertical-align: middle;
}

h1 {
  font-family: arial black;
  color: #faf9f9;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  letter-spacing: -3px;
}

h2 {
  font-family: arial black;
  color: #443932;
  font-size: 1.5em;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px 25px 0px;
}

h3 {
  font-family: arial black;
  color: #443932;
  font-size: 1.1em;
  text-align: center;
  margin-top: -20px;
}

h4 {
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

p {
  margin: 20px 100px;
  text-indent: 40px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #895430;
  text-decoration: none;
  -webkit-transition: color .5s ease-out; -moz-transition: color .5s ease-out; transition: color .5s ease-out;
}

main {
  width: 100%;
  margin: 79px auto 39px auto;
  border: 1px #443932 solid;
  background-color: #faf9f9;
}

main, footer {
  display: inline-block;
  line-height: 1.3em;
}

img {
  width: 100%;
  border: 1px solid #443932;
}

section {
  width: 100%;
  display: inline-block;
}

article {
  /* margin: -20px; */
  width: 410px;
  display: inline-block;
  padding: 20px 20px 30px 20px;
  background-color: white;
  box-shadow: 7px 7px #443932;
  border: 1px solid #443932;
  border-radius: 10px;
}

.left {
  float: left;
  margin:50px auto 0px 50px;
}

.right {
  float: right;
  margin: 50px 50px 0px auto;
}

.column {
  border-radius: 10px;
  box-shadow: 7px 7px black;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

ul {
  list-style: square;
  list-style-position: inside;
}

#intro {
  margin-bottom: -20px;
}

#bio, #travel {
  margin: -1px;
}

#goals, #travel {
  margin-bottom: 40px;
}

.travel {
  margin: 20px;
}

footer {
  height: 40px;
  position: fixed;
  border: 1px solid #443932;
  bottom: 0px;
  left: 13%;
  right: 13%;
  margin-bottom: 0px;
  background-color: #443932;
  width: 74%;
}

span {
  width: 25px;
  display: inline-block;
}